
*{
margin: 0;
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;
}
.travel-journal{
    width: 550px;
    height: 545px;
    position: fixed;
    top: 0%;
    left: 50%;
    transform: translate(-50%,0%);
}
.nav{
    background: #F55A5A;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: center;
}
.nav h3{
    font-weight: 500;
    margin-left: 5px;
    color: white;
}
/* card */
.cards-container{
width: 100%;
}
.cards-container a{
    color: #918E9B;
}
.card{
    display: flex;
    width: 100%;
    padding: 25px;
}
.card-image{
    width: 25%;
    margin-right: 10px;
}
.card-part{
    width: 75%;
    align-items: center;
}
.line1-card{
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-between;
}
.location-icon{
    margin-right: 4px;
}
.description{
    margin-top: 8px;
}
.date-range{
    margin-top: 16px;
}
.title{
    margin-top: 4px;
}