
*{
margin: 0;
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;
}
.travel-journal{
    width: 550px;
    height: 545px;
    position: fixed;
    top: 0%;
    left: 50%;
    transform: translate(-50%,0%);
}
.nav{
    background: #F55A5A;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: center;
}
.nav h3{
    font-weight: 500;
    margin-left: 5px;
    color: white;
}